@tailwind base;
@tailwind components;
@tailwind utilities;


.dark {
    --color-bg-primary: #2d3748;
    --color-bg-secondary: #283141;
    --color-text-primary: #f7fafc;
    --color-text-secondary: #e2e8f0;
    --color-text-accent: #81e6d9;
}

.light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #edf2f7;
    --color-text-primary: #2d3748;
    --color-text-secondary: #4a5568;
    --color-text-accent: #2b6cb0;
}
:root {
    @apply light;
}

.button{
    @apply focus:outline-none w-full sm:w-auto bg-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-3 text-sm mt-6 ;
}

.Textinput{
    @apply flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none  focus:border-indigo-700 ;

}

.Textarea{
    @apply inline-flex  items-center px-3 border-t bg-white border-l border-b  border-gray-300 text-gray-500 shadow-sm text-sm;
}

.btn{
    @apply group relative ml-14 mt-4 w-3/5 flex justify-center py-2 px-6  text-sm font-medium rounded-3xl text-white bg-indigo-700 hover:bg-indigo-600 focus:outline-none;
}
.Text{ 
    @apply text-gray-400 ml-2 w-full pb-1  mb-4 text-lg font-bold;
}

.SidebarButton{
    @apply flex w-full justify-between bg-gray-800 text-gray-500 hover:text-gray-300 cursor-pointer items-center ;
}
