@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
}
:root {
  @apply light;
}

.button {
  @apply focus:outline-none w-full sm:w-auto  bg-indigo-500 dark:bg-indigo-400 transition duration-500 ease-in-out hover:bg-indigo-400   transform hover:-translate-y-1 hover:scale-90  rounded text-white px-8 py-3 text-sm mt-6;
}

.Textinput {
  @apply flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white rounded-sm dark:bg-opacity-80 text-gray-700 placeholder-gray-400 shadow-3xl text-base focus:outline-none  focus:border-indigo-700;
}

.Textarea {
  @apply inline-flex  items-center px-3 border-t bg-white border-l border-b dark:bg-opacity-80 border-gray-300 text-gray-500 shadow-3xl text-sm;
}

.btn {
  @apply group relative ml-24 mt-4 w-2/4 flex justify-center py-2 px-8  text-sm font-medium rounded-2xl text-white bg-indigo-500 dark:bg-indigo-400 transition duration-500 ease-in-out hover:bg-indigo-400 transform hover:-translate-y-1 hover:scale-110  focus:outline-none;
}
.confgbtn {
  @apply group relative  mt-5 w-60 flex justify-center py-2 px-8  text-sm font-medium rounded-xl text-white bg-indigo-500 dark:bg-indigo-400 transition duration-500 ease-in-out hover:bg-indigo-400 transform hover:-translate-y-1 hover:scale-95  focus:outline-none;
}
.setconfgbtn {
  @apply group relative  w-2/5 flex justify-center py-2 px-8  text-lg font-serif rounded-lg text-indigo-400 bg-transparent  transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110  focus:outline-none;
}
.confgoptionsbtn {
  @apply group relative w-2/5 flex justify-center text-sm font-serif text-gray-400 bg-transparent  transition duration-500 ease-in-out transform focus:outline-none;
}
.leftarrow {
  @apply absolute top-2/4 left-0 px-32 text-5xl cursor-pointer;
}
.rightarrow {
  @apply absolute top-2/4 right-0 px-32 text-5xl cursor-pointer;
}
.Text {
  @apply text-gray-400 dark:text-gray-200 ml-2 w-full pb-1  mb-4 text-lg font-bold;
}

.SidebarButton {
  @apply flex w-full justify-between bg-gray-800  dark:text-gray-200 text-gray-500 hover:text-gray-300 transition duration-500 ease-in-out hover:scale-90 cursor-pointer items-center;
}
